body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: blue;
}

.container {
    height: 70vh;
    margin-top: 50px;
    background-image: url('/grosman/IMG_2456.JPG');
    background-size: contain;
    /* Ensures the image covers the entire container */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    display: flex;
    /* Enables flexbox layout */
    justify-content: center;
    /* Centers contents horizontally */
    align-items: center;
    /* Centers contents vertically */
}